.container {
  display: flex;
}
.sidebar {
  flex: 1;
  background-color: black;
  min-height: 100vh;
}

.main {
  flex: 6;
  background-color: white;
}
.dashboardContainer {
  padding: 20px;
  background-color: #f1f1f1;

  min-height: 100vh;
}
.maincontainer {
  background-color: white;
}
